{% if section.settings.related_products_enabled %}
  {% unless collection %}
    {% assign collection = collections.all %}
  {% endunless %}

  {% include 'related_products', show_vendor: section.settings.related_products_show_vendor, show_alternate_image_on_hover: section.settings.related_products_show_alternate_image_on_hover %}
{% endif %}


{% if section.settings.recommended_for__enabled %}
<div class="container bg-color--desert-storm">
    <h2 class="h2--underline">{{ section.settings.recommended_for__title }}</h2>
    Slide show {{ section.settings.recommended_for__slideshow }}
</div>
{% endif %}

{% if section.settings.awards__enabled %}
<div class="container bg-color--desert-storm">
    <h2 class="h2--underline">{{ section.settings.awards__title }}</h2>
</div>
{% endif %}

<!--
<h2>Responsive image</h2>
<img 
  src="{{ 'computer_1920.jpg' | file_img_url: '320x' }}"
  srcset="{{ 'computer_1920.jpg' | file_img_url: '320x' }} 320w,
    {{ 'computer_1920.jpg' | file_img_url: '480x' }} 480w,
    {{ 'computer_1920.jpg' | file_img_url: '786x' }} 786w,
    {{ 'computer_1920.jpg' | file_img_url: '1024x' }} 1024w,
    {{ 'computer_1920.jpg' | file_img_url: '1200x' }} 1200w,
    {{ 'computer_1920.jpg' | file_img_url: '1400x' }} 1400w" 
  sizes="100vw"
  alt="Responsive image">
-->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var initProduct = function(productElement) {
      productElement.product({
        product: {{ product | json }},
        selectedVariantId: {% if product.selected_variant %}{{ product.selected_variant.id }}{% else %}null{% endif %},
        enableHistoryState: true,
        hasColorSwatch: (productElement.attr('data-show-color-swatch') === 'true'),
        ajaxAddToCart: (productElement.attr('data-ajax-add-to-cart') === 'true')
      });
    };

    initProduct($('#product-{{ product.id }}'));

    $(document).on('shopify:section:load', '#shopify-section-product', function(event) {
      initProduct($(event.target).find('#product-{{ product.id }}'));
    });

    Shopify.Image.preload({{ product.images | json }}, '1400x');
  });
</script>

{% schema %}
{
  "name": "Labo Labo",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_inventory",
      "label": "Show product inventory",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ajax_add_to_cart",
      "label": "Stay on the current page when adding a product",
      "default": true
    },
    {
      "type": "text",
      "id": "add_to_cart_text",
      "label": "Add to cart button hint",
      "default": "You can change this text in the Theme Settings"
    },
    {
      "type": "checkbox",
      "id": "always_show_description",
      "label": "Always show description on the right",
      "info": "If enabled, description will always be displayed on the right, even if you have tabs.",
      "default": false
    },
    {
      "type": "header",
      "content": "Image slideshow"
    },
    {
      "type": "select",
      "id": "showcase_columns",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "big",
          "label": "Big"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "thumbnails_appearance",
      "label": "Thumbnails",
      "options": [
        {
          "value": "squared",
          "label": "Squared"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": "rounded"
    },
    {
      "type": "checkbox",
      "id": "showcase_zoom_enabled",
      "label": "Enable image zoom",
      "info": "This is disabled on mobile.",
      "default": true
    },
    {
      "type": "range",
      "id": "showcase_zoom_magnification",
      "min": 50,
      "max": 200,
      "step": 50,
      "unit": "%",
      "label": "Zoom magnification (if enabled)",
      "default": 100
    },
    {
      "type": "header",
      "content": "Tabs"
    },
    {
      "type": "paragraph",
      "content": "[Learn more about product tabs.](http://support.maestrooo.com/article/82-product-adding-global-tabs-to-product-pages)"
    },
    {
      "type": "page",
      "id": "tab_page_1_handle",
      "label": "First page"
    },
    {
      "type": "page",
      "id": "tab_page_2_handle",
      "label": "Second page"
    },
    {
      "type": "paragraph",
      "content": "Focal also allows you to add specific tab for a given product only. [Learn more about this feature.](http://support.maestrooo.com/article/83-product-adding-different-tabs-per-product)."
    },
    {
      "type": "header",
      "content": "Reviews"
    },
    {
      "type": "paragraph",
      "content": "You need to install the [Shopify's free Product Reviews](https://apps.shopify.com/product-reviews) app before enabling this option."
    },
    {
      "type": "checkbox",
      "id": "reviews_enabled",
      "label": "Enable",
      "default": false
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "paragraph",
      "content": "Are you looking for hand-picked related products? You can do it now with our app SuperFields. [Learn more here](http://support.maestrooo.com/article/117-product-choosing-hand-picked-related-products)."
    },
    {
      "type": "checkbox",
      "id": "related_products_enabled",
      "label": "Enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "related_products_show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "range",
      "id": "related_products_grid_items",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Products count",
      "default": 4
    },
    {
      "type": "header",
      "content": "Recommended for"
    },
    {
      "type": "checkbox",
      "id": "recommended_for__enabled",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "recommended_for__title",
      "label": "Title",
      "default": "Recommended for"
    },
    {
      "type": "select",
      "id": "recommended_for__slideshow",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "big",
          "label": "Big"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Awards"
    },
    {
      "type": "checkbox",
      "id": "awards__enabled",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "awards__title",
      "label": "Title",
      "default": "Awards"
    }
  ]
}
{% endschema %}