{% if section.settings.awards__enabled %}
<div class="bg-color--grey">
	<div class="container pt--25">
	    <h1 class="h1--underline">{{ section.settings.awards__title }}</h1>
	    {% if section.settings.awards__description %}
	      <p class="pl--20 pr--20" style="font-size: 13px; text-align: center">{{ section.settings.awards__description }}</p>
	    {% endif %}

	    {% assign blockSize = section.blocks | size %}
	    {% if blockSize > 0 %}
	      <div class="container">
	        {% for block in section.blocks %}
	          {% if block.settings.awards__block__image != blank %}
	            <img alt="" style="margin-right: 12px; float: left; vertical-align: middle;" src="{{ block.settings.awards__block__image | img_url:'master' }}" alt="{{ block.settings.awards__block__image.alt | escape }}" width="50" height="50"/>
	            <p class="pt--10 pb--10" style="font-size: 10px">
	              {{ block.settings.awards__block__small_description }}<br>
	              <span style="text-transform: uppercase; font-size: 12px">
	                <b>{{ block.settings.awards__block__description }}</b>
	              </span>
	            </p>
	          {% endif %}
	        {% endfor %}
	      </div>
	    {% endif %}

	    <!-- Readers Choice, Hydrating Moisturiser -->
	</div>
</div>
{% endif %}

{% schema %}
{
  "name": "Product Awards",
  "settings": [
    {
      "type": "header",
      "content": "Awards"
    },
    {
      "type": "checkbox",
      "id": "awards__enabled",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "awards__title",
      "label": "Title",
      "default": "Awards"
    },
    {
      "type": "textarea",
      "id": "awards__description",
      "label": "Description",
      "default": "Add your own custom content to give more information about your store, availability details..."
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Award titles",
      "settings": [
        {
          "type": "image_picker",
          "id": "awards__block__image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "awards__block__small_description",
          "label": "Title",
          "default": "Readers Choice, Hydrating Moisturiser"
        },
        {
          "type": "text",
          "id": "awards__block__description",
          "label": "Title",
          "default": "Her World Beauty Awards 2017",
          "info": "Recommended a 80px by 80px max dimension"
        }
      ]
    }
  ]
}
{% endschema %}
