{% if section.settings.products_details %}
<div class="container bg-color--gallery pt--25 pl--40 pr--40">
    <h2 class="h1--underline">{{ section.settings.products_details__title }}</h2>

    {% if section.settings.products_details__description %}
      <p style="text-align: justify">{{ section.settings.products_details__description }}</p>
    {% endif %}

    {% assign blockSize = section.blocks | size %}
    {% if blockSize > 0 %}
      <div class="pb--20" style="display: inline-block; text-align: center">
        {% for block in section.blocks %}
          <div style="display: inline-block">
            {% if block.settings.products_details__description_image != blank %}
              <img alt="" style="vertical-align: top;" src="{{ block.settings.products_details__description_image | img_url:'master' }}" width="90" height="60" alt="{{ block.settings.products_details__description_image.alt | escape }}"/>
              <figcaption style="font-size: 9px; text-align: center">{{ block.settings.products_details__description_image_title }}</figcaption>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Add {{ shop.url }} as href -->
    {% if section.settings.products_details__ingredients %}
      <div class="pt--15 pb--50" style="text-align: center">
        <a href="{{ shop.url }}" class="button button--full button--primary">{{ section.settings.products_details__ingredients_title }}</a>
      </div>
    {% endif %}

</div>
{% endif %}
