<!-- /templates/list-collections.liquid -->
{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}



{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

<div class="page-width">
{% for collection in collections %}  

  {% if collection.handle == 'collection-threeproduct' %}

    <ul class="grid block-collection1">
        {% for product in collection.products limit:3 %}
      <li class="grid__item medium-up--one-third clearfix">
        <div class="container-element">
          <h3 class="txt-title align--center">{{ product.title }}</h2>
          <div class="txt-price align--center">{{ product.price | money }}</div>
          
          <div class="img-product align--center">
            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="product.title">
          </div>
          <div class="txt-description align--center">
            {{ product.description }}
          </div>
          <div class="btn-addcart align--center">
            <form action="/cart" method="post" enctype="multilpart/form-data"  id="AddToCartForm">
              <button type="submit" name="add" id="AddToCartForm" class="btn">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </form>
            {% comment %}<input type="button" class="btn btn--small" value="{{ 'plus.products.order-now' | t }}" onClick="instantBuy()" />{% endcomment %}
          </div>
        </div>
      </li>
        {% endfor %}          
    </ul>

  {% endif %}

{% endfor %}
</div>

{% comment %}
<script>
  // [Plus] Function to skip cart page
  function instantBuy(){
    var formParams = $('form[action="/cart"]').serialize();
    $.ajax({
      url: "/cart",
      type: "post",
      data: formParams,
      success: function(){
       window.location.href = "/checkout";
      },
      error: function(){
      }
    })
  }
</script>
{% endcomment %}